/* #######################

Font imports

##########################*/

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Regular.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Light.ttf') format('trueType');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Bold.ttf') format('trueType');
  font-weight: 700;
  font-style: normal;
}


/* #######################

SASS Variables

##########################*/

$base-grey: #28282c;
$lightest-grey: #A7A7B8;
$lighter-grey:#6E6E78;
$light-grey:#343439;


$base-red: #ed1b35;
$base-blue: #1874BA;
$base-yellow: #EDF050;
$base-green: #37ED74;
$base-white:white;
$shade-10: #2c3e50;
$shade-1: #d7dcdf;
$shade-0: #fff;
$teal: #1abc9c;

$range-width: 100%;

$range-handle-color: $shade-10;
$range-handle-color-hover: $teal;
$range-handle-size: 20px;

$range-track-color: $base-red;
$range-track-height: 5px;

$range-label-color: $base-red;
$range-label-width: 60px;

/* #######################

SASS mixins

##########################*/

@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}



/* #######################

Main CSS

##########################*/


// Reset
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


body{
	background-color:$base-grey;
	font-family:'Lato', sans-serif;
}

.header h1{
	font-family:'Lato', sans-serif;
	font-weight:normal;
	color:$base-white;
	text-transform:uppercase;
	letter-spacing:3px;

}

.header {
	text-align:center;
	padding-bottom:2px;
}

#videoCanvas {
		border-radius:5px;
		border:1px $base-white solid;
}



.lrarrow{

}

.lrarrow:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 40%;
}

.lrarrow img{
	display:inline-block;
	vertical-align: middle;
}


thin{
	font-weight:200 !important;
}

.dirArrow img{
	opacity:0.8;
}

.dirArrow img:hover{
	opacity:1;
}

.footerContainer{
	
	position:absolute;
	bottom:0px;
	width:100%;
}

.settingsContainer{
	background-color:$light-grey;
	@include box_shadow(3);
	padding-bottom:30px;
}

.settingsContainer p{
	font-family:'Lato', sans-serif;
	margin-left:5px;
	margin-top:1px;
	margin-bottom:0.5em;
	color:$base-red;
	font-weight:200;
	font-size:0.8em;
	opacity:0.9;
}

.cardTopper{
	background-color:rgba(0,0,0,0.5);
	color:$base-red;
	padding:10px;
	text-transform:uppercase;
	font-weight:700;
	font-size:0.7em;
	
}

.shutter-button img{

	
	opacity:0.8;
}

.shutter-button img:hover{
	opacity:1;
}

.camera-slider{
	vertical-align: middle;
	width:95%;
	margin: 1em;
}

.camera-dropdown{

	width:100%;
}


.range-slider {
  margin: 0px 0 0 0%;
  width: $range-width;
  margin-bottom:15px
}

.motor-control label{
	display:inline-block;
	width:100%;
	margin-left:10px;
	text-transform:uppercase;
	font-size:0.7em;
	font-weight:2800;
	letter-spacing:1px;
	color:$base-red;
	opacity:0.8;

	// text-align:center;
}

.motor-control{
	// border:$base-red solid 1px;
	outline: 1px solid $base-red;
    outline-offset: -10px;
    padding:10px;
}

.motor-control:hover{
	outline-style:dotted;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 23px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;
  margin-left:10px;
  margin-top:-10px;
  // margin-bottom:20px;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
}

.range-slider__value {
  display: inline-block;
  position: absolute;
  // top:2px;
  width: $range-label-width;
  color: $base-grey;
  line-height: 20px;
  text-align: center;
   border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 0px;
   margin-top:-12px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}

::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   // width: 240px;
   padding-left:10px;
   margin-bottom:20px;
   margin-top:5px;
}

.styled-select select {
   background: $base-grey;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   color: $base-red;
   font-weight:700;

   // -webkit-border-radius: 20px;
   // -moz-border-radius: 20px;
   // border-radius: 20px;
}

.top-container{
  height:100vh;
}

.bottom-container{
  height:100vh;
  position:absolute;
  top:0;
   
   width:100%;
   display:none;


}

.gallery-container{
  margin:40px;
  height:90vh;
  border:solid 1px $base-red;
  background-color:$light-grey;
  @include box_shadow(4);
 
}

.gallery-container h1{
  color:$base-red;
  padding:10px;
  font-size:0.9em;
  margin:0;
}
.gallery{
  margin:20px;
}

.selected-container img{
  width:100%;
}
.selected-image{

}
